#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define L0 0
#define L1 1
#define L2 2
#define L3 3




&mt {
   tapping-term-ms = <200>;
   quick-tap-ms = <100>;
   global-quick-tap;
   flavor = "tap-preferred";
};

&sk {
   release-after-ms = <2000>;
};

/ {

combos {
   compatible = "zmk,combos";
   combo_esc {
      timeout-ms = <50>;
      key-positions = <0 10>;
      bindings = <&kp ESC>;
   };
   combo_del {
      timeout-ms = <50>;
      key-positions = <9 19>;
      bindings = <&kp DEL>;
   };
   combo_lshift {
      timeout-ms = <50>;
      key-positions = <12 13>;
      bindings = <&sk LSHIFT>;
   };
   combo_lcrtl {
      timeout-ms = <50>;
      key-positions = <11 13>;
      bindings = <&sk LCTRL>;
   };
   combo_lalt {
      timeout-ms = <50>;
      key-positions = <10 13>;
      bindings = <&sk LALT>;
   };
   combo_lgui {
      timeout-ms = <50>;
      key-positions = <11 12>;
      bindings = <&sk LGUI>;
   };
   combo_rshift {
      timeout-ms = <50>;
      key-positions = <16 17>;
      bindings = <&sk RSHIFT>;
   };
   combo_rcrtl {
      timeout-ms = <50>;
      key-positions = <16 18>;
      bindings = <&sk LCTRL>;
   };
   combo_ralt {
      timeout-ms = <50>;
      key-positions = <16 19>;
      bindings = <&sk LALT>;
   };
   combo_rgui {
      timeout-ms = <50>;
      key-positions = <17 18>;
      bindings = <&kp LGUI>;
   };
   combo_ble1 {
      timeout-ms = <50>;
      key-positions = <30 31>;
      bindings = <&tomo 3 3>;
   };
   combo_ble2 {
      timeout-ms = <50>;
      key-positions = <34 35>;
      bindings = <&tomo 3 3>;
   };
};

 behaviors{
   lbrc: left_brackets{
      compatible = "zmk,behavior-mod-morph";
      label = "LEFT_BRACKET";
      #binding-cells = <0>;
      bindings = <&kp LBKT>, <&kp LT>;
      mods = <(MOD_LCTL|MOD_RCTL)>;
   };
   rbrc: right_brackets{
      compatible = "zmk,behavior-mod-morph";
      label = "RIGHT_BRACKET";
      #binding-cells = <0>;
      bindings = <&kp RBKT>, <&kp GT>;
      mods = <(MOD_LCTL|MOD_RCTL)>;
   };
   dot: dot{
      compatible = "zmk,behavior-mod-morph";
      label = "DOT";
      #binding-cells = <0>;
      bindings = <&kp DOT>, <&kp COMMA>;
      mods =<(MOD_LSFT|MOD_RSFT)>;
   };
   tomo: behavior_tomo {
      compatible = "zmk,behavior-hold-tap";
      label = "tomo";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <200>;
      bindings = <&mo>, <&to>;
   };    
};

keymap {
compatible = "zmk,keymap";
0_layer {
label = "0";
bindings = <
   &kp J     &kp U     &kp O        &kp W     &kp G            &kp K     &kp D     &kp H     &kp L     &kp Z    
   &kp I     &kp E     &kp A        &kp C     &kp Y            &kp V     &kp T     &kp N     &kp R     &kp S 
   &kp MINUS &kp SEMI  &dot         &kp F     &kp SQT          &kp B     &kp P     &kp M     &kp Q     &kp X 
                       &kp TAB      &tomo 1 1 &kp BSPC         &kp SPACE &tomo 2 2 &kp RET
>;
};

1_layer {
label = "1";
bindings = <
   &kp SEMI   &kp HOME   &kp UP      &kp END   &kp GRAVE        &kp SQT   &kp N7      &kp N8    &kp N9    &dot 
   &kp FSLH   &kp LEFT   &kp DOWN    &kp RIGHT &lbrc            &rbrc     &kp N4      &kp N5    &kp N6    &kp N0
   &kp MINUS  &kp PG_UP  &kp PG_DN   &kp ESC   &kp NUHS         &kp NUBS  &kp N1      &kp N2    &kp N3    &kp EQUAL 
                         &kp TAB     &to 0     &kp BSPC         &kp SPACE &tomo 2 2   &kp RET
>;
};

2_layer {
label = "2";
bindings = <
   &F12    &kp F7   &kp F8     &kp F9       &kp GRAVE           &kp SQT    &kp HOME    &kp UP     &kp END      &kp SEMI     
   &F11    &kp F4   &kp F5     &kp F6       &lbrc               &rbrc      &kp LEFT    &kp DOWN   &kp RIGHT    &kp FSLH 
   &F10    &kp F1   &kp F2     &kp F3       &kp NUHS            &NUBS      &kp ESC     &kp PG_DN  &kp PG_UP    &kp MINUS  
                    &kp TAB    &tomo 1 1    &kp BSPC            &kp SPACE  &to 0       &kp RET
>;
};

3_layer {
label = "3";
bindings = <
   &none    &bt BT_SEL 3    &bt BT_SEL 4    &bt BT_CLR    &kp none                &none      &bt BT_SEL 3    &bt BT_SEL 4    &bt BT_CLR      &none     
   &none    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2  &kp none                &none      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &none  
   &none    &kp none        &kp none        &kp none      &kp none                &none      &none           &none           &none           &none  
                            &to 0           &to 0         &kp BSPC                &kp SPACE  &to 0           &to 0
>;
};

};

};
