# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_XIAO_LEFT
    def_bool $(shields_list_contains,xiao_left)

config SHIELD_XIAO_RIGHT
    def_bool $(shields_list_contains,xiao_right)
